# Editor directories and files
.vscode

# BrowserStack module logs
log

# Video reports
videos

# node
node_modules

# yarn v2
.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
